<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820143675416-mupf86gj85guih822vouk0tniqfsni0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820143675416-mupf86gj85guih822vouk0tniqfsni0p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>820143675416-3tdus51osnj7hhhss95tdj8qkqrun6q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7KlhK9q7TQaxYeHpYmDi3h213Tuw1eVA</string>
	<key>GCM_SENDER_ID</key>
	<string>820143675416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newdevpoint.PushNotifiation</string>
	<key>PROJECT_ID</key>
	<string>sample-application-bf717</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-application-bf717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820143675416:ios:c50faf081227803cc94b6d</string>
	<key>DATABASE_URL</key>
	<string>https://sample-application-bf717.firebaseio.com</string>
</dict>
</plist>